@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600&display=swap');

.menucontainer {
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.logoimg {
    margin-left: 2vw;
    height: 50%;
    width: auto;
}

.itemcontainer {
    width: 120px;
    text-align: center;
    font-size: 14px;
    color: gray;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.itemcontainer a {
    color: gray;
    text-decoration: none;
    font-weight: 600;
}

.itemcontainer:hover {
    color: black;
}

.signinRegister {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    font-size: 14px;
    gap: 10px;
}

.signinLink,
.registerLink {
    font-family: 'Lato', sans-serif;
    color: gray;
    text-decoration: none;
    padding-top: 1.5vh;
}

.signinLink:hover,
.registerLink:hover {
    color: black;
}

.signedInSection {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 2rem;
}

.signedInText {
    font-size: 14px;
    color: #00B5E2;
    display: flex;
    align-items: center;
}

.adminRole {
    margin-left: 1rem;
    font-weight: 600;
    color: gold;
}

.profileIcon {
    border-radius: 9999px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    margin-right: 1vh;
}